body {
  background: linear-gradient(30deg, rgb(77, 77, 77), rgb(58, 58, 58));
  color: rgb(77, 77, 77);
}

header {
  position: static;
}

main ul {
  width: 1200px;
  margin: 0 auto 48px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 20px;
}
li:nth-of-type(3) {
  grid-column: 1 / span 2;
}

main li {
  display: flex;
  background-color: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  overflow: hidden; /*컨테이너 밖에 넘친 부분 조율*/
}

main li img {
  width: 300px;
  height: 280px; /*높이가 있어야 item-content에 넣은 내용 배치 구조가 제대로 보임*/
  object-fit: cover;
}

.item-content {
  padding: 23px; /*글자 옆에 여백 넣어주기*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.actions {
  text-align: right;
}
.actions a {
  text-decoration: none;
  padding: 6px;
  color: rgb(11, 140, 205);
}
.actions a:hover {
  background-color: rgb(91, 203, 255);
  border-radius: 6px;
}
