#hero {
  height: 800px;
  background-image: url("/travel page/images/places/ocean.jpg");
  background-position: center;
  background-size: cover;
}

#hero-content {
  width: 900px;
  background-color: rgba(51, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 8px;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
  position: relative;
  top: 200px;
}

#hero-content h1 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  margin: 0;
}
#hero-content p {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 32px;
}
#hero-content a {
  text-decoration: none;
  background-color: rgb(255, 251, 0);
  padding: 12px 24px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
}
#hero-content a:hover {
  background-color: rgb(255, 228, 0);
}

#destinations {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
}

.destination {
  margin: 0 20px;
}

.destination img {
  height: 200px;
  /*너비는 그림마다 달라 통일을 위해 
   1. 숫자로 고정
   2. %로 고정
  중에서 1은 웹 페이지의 크기가 달라지면 보기 어려울 수 있어
  2번으로 확정
  */
  width: 100%;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 10px;
  /* 그림의 종횡비를 맞추면서 축소를 통해 컨테이너 크기 안에 조율(여백이 생길 수 있음) => 그림 안뭉개짐
  object-fit: contain; */
  /* 그림의 종횡비를 맞추면서 확대를 통해 컨테이너 크기 안에 조율(그림 쪼끔 잘림) */
  object-fit: cover;
}
