body {
  text-align: center;
  /*글꼴 추가*/
  font-family: "Roboto", sans-serif;
  background-color: rgb(220, 206, 232);
}
h1 {
  color: rgba(43, 0, 152, 0.74);
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}
header {
  padding: 32px;
}
header img {
  width: 400px;
  /*넓이 정하면 높이 자동 설정해줘서 안적어도 됨*/
}
main {
  width: 1150px;
  padding: 60px 48px;
  background-color: rgba(43, 0, 152, 0.74);
  color: rgb(255, 255, 255);
  border: 1px solid rgba(18, 2, 42, 0.912);
  border-radius: 10px;
  font-size: 24px;
  margin: 0 auto;
  text-align: left;
}
body a {
  padding: 2px 4px;
  color: rgba(43, 0, 152, 0.74);
  background-color: rgb(255, 235, 169);
  text-decoration: none;
  border-radius: 5px;
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
}
a:hover,
a:active {
  background-color: rgb(231, 193, 0);
}
ul {
  list-style: none;
  padding: 0;
}
li {
  margin: 14px 0px;
  padding-left: 10px;
  border-left: 5px solid transparent;
}
span {
  background-color: rgb(247, 227, 163);
  color: rgb(0, 0, 0);
  font-weight: bold;
  border-radius: 5px;
  display: inline-block;
  padding: 0 10px;
}

footer p {
  color: rgb(104, 3, 211);
  margin-top: 30px;
}

.point {
  border-left: 5px solid rgb(247, 227, 163);
  color: rgb(247, 227, 163);
  margin: 16px 0;
}

footer a {
  padding: 12px 20px;
  border-radius: 10px;
  background-color: rgb(231, 193, 0);
  color: rgb(51, 9, 97);
}

footer a:hover,
footer a:active {
  background-color: rgb(197, 158, 31);
}
