body {
  background-color: rgb(31, 30, 30);
  font-family: "Fira Sans", sans-serif;
}

h1 {
  text-align: center;
  color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form {
  width: 30rem;
  margin: 3rem auto;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 6px;
}

label {
  margin-bottom: 0.5rem;
  display: block;
}

input,
textarea,
select {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid rgb(184, 184, 184);
  padding: 0.25rem;
  color: rgb(81, 79, 79);
}

input:focus,
textarea:focus {
  background-color: rgb(221, 234, 248);
  color: rgb(111, 178, 249);
  border-color: rgb(111, 178, 249);
}
button {
  display: block;
  font: inherit;
  background-color: rgb(111, 178, 249);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(111, 178, 249);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(159, 199, 251);
  border-color: rgb(159, 199, 251);
}

.form-control-inline {
  display: flex;
}
.form-control-inline input {
  width: auto;
  margin-right: 0.5rem;
}
