header {
  margin-bottom: 64px;
}
h1 {
  font-size: 48px;
  color: rgb(59, 80, 10);
  margin: 0;
}
#description {
  margin: 12px 0;
}

a {
  padding: 12px 48px;
  background-color: rgb(219, 109, 35);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(219, 109, 35);
  border-radius: 4px;
  font-size: 24px;
  display: inline-block;
  margin: 0;
}
a:hover {
  background-color: rgb(0, 255, 149);
  text-decoration: none;
}
ol {
  list-style: none;
  width: 500px;
  margin: 36px auto 0 auto;
  padding: 0;
}
li {
  padding: 16px;
  margin: 32px;
  background-color: rgb(255, 196, 0);
  border-radius: 6px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

h2 {
  color: rgb(167, 39, 10);
  font-family: "Oswlad", sans-serif;
}

main p {
  margin: 12px;
  color: rgb(71, 29, 22);
}
.highlight-goal {
  background-color: rgb(255, 180, 0);
}
