div {
  background-color: #c7c7c7;
  padding: 20px;
  text-align: center;
}

p {
  color: black;
  padding: 50px;
  margin: 0;
}

#container {
  background-color: #521751;
}

#container p {
  color: white;
}

#one {
  background-color: #943092;
}

#two {
  background-color: #c95bc7;
  /**기본 문서 흐름 고정(상하좌우 이동 x)**/
  /**position: static;**/

  /**기본 문서 흐름 고정(본인 기준 상하좌우 이동 o)**/
  /* position: relative; */
  /* right: 20px; */

  /**기본 문서 흐름 벗어남(전체 페이지에서 고정)**/
  /* position: absolute; */
  /* top: 0; */

  /**기본 문서 흐름 벗어남(보이는 영역(뷰포트)에서 고정)**/
  position: fixed;
  top: 0;
}

#three {
  background-color: #dd61db;
}
