body {
  text-align: center;
  background-color: rgb(220, 206, 232);
}
h1 {
  color: rgba(43, 0, 152, 0.74);
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}
img {
  width: 400px;
  height: 220px;
  margin: 0 0 40px 0;
}
main {
  width: 1150px;
  padding: 60px 48px;
  background-color: rgba(43, 0, 152, 0.74);
  color: rgb(255, 255, 255);
  border: 1px solid rgba(18, 2, 42, 0.912);
  border-radius: 10px;
  font-size: 24px;
  margin: 0 auto;
  text-align: left;
}
a {
  margin: 20px 0px;
  padding: 20px;
  background-color: rgb(254, 195, 0);
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
}
ul {
  list-style: none;
  line-height: 2em;
}
span {
  background-color: rgb(247, 227, 163);
  color: rgb(0, 0, 0);
  font-weight: bold;
  border-radius: 5px;
  display: inline-block;
  padding: 0 10px;
}
em {
  font-style: normal;
  font-weight: bold;
}

.point {
  border-left-style: solid;
  border-left-width: 5px;
  padding-left: 20px;
  color: rgb(247, 227, 163);
}
